# Featrue Egineering Excercieses With house.csv dataset

In [379]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt

In [380]:
# Read data.
house = pd.read_csv("house.csv", index_col = 0)

In [381]:
# Let's see data.
hause.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [382]:
# Let's examine the object types.

house.dtypes

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 80, dtype: object

In [383]:
# When we look at the explanations, MSSubClass column must be of object type.

house.MSSubClass = house.MSSubClass.astype("str")

In [384]:
house.dtypes

MSSubClass        object
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 80, dtype: object

In [385]:
#Let's check for null expressions in the data set.

house.isnull()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
5,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1457,False,False,False,False,False,True,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
1458,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1459,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1460,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False

In [386]:
# Let's check the number of null values in the data set.

house.isnull().sum().sum()

7829

In [387]:
# Let's find the percentage of missing data in the columns.

missing_percent = house.isnull().mean()
missing_percent

MSSubClass       0.000000
MSZoning         0.000000
LotFrontage      0.177397
LotArea          0.000000
Street           0.000000
                   ...
MoSold           0.000000
YrSold           0.000000
SaleType         0.000000
SaleCondition    0.000000
SalePrice        0.000000
Length: 80, dtype: float64

In [388]:
# Return missing data more than 0.1

drop_cols = missing_percent[missing_percent > 0.1].index
drop_cols

Index(['LotFrontage', 'Alley', 'MasVnrType', 'FireplaceQu', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [389]:
# Let's delete columns with more than 10% missing data.

df_drop_cols = house.drop(drop_cols, axis = 1)

In [390]:
# let's see the shape
df_drop_cols.shape

(1460, 73)

In [391]:
# We check again if there is a null value.
df_drop_cols.isnull().sum().sum()

601

In [392]:
# We delete the Na datas from the file.

df_without_na = df_drop_cols.dropna()

In [393]:
# let's see the shape

df_without_na.shape

(1338, 73)

In [394]:
# We check again if there is a null value. 

df_without_na.isnull().sum().sum()

0

In [395]:
# Machine learning models prefer to process numerical data.
# We use the get_dummies() function to convert categorical variables to numeric data.

df_without_na_dummy = pd.get_dummies(df_without_na, drop_first = True)

In [396]:
# let's examine data shape.

df_without_na_dummy.shape

(1338, 237)

In [397]:
# To use the LinearRegression model.
from sklearn.linear_model import LinearRegression

# To look at the r2 score.
from sklearn.metrics import r2_score

# To do train_test_split.
from sklearn.model_selection import train_test_split, cross_val_score

# We determine the dependent and independent variables.
X = df_without_na_dummy.drop("SalePrice", axis = 1)
y = df_without_na_dummy["SalePrice"]


# We determine the ratio of train and test data.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
scores = cross_val_score(mdl, X_train, y_train, cv = 10)

mdl = LinearRegression()
mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)

results = pd.DataFrame([], columns = ["r2 mean", "r2 std", "r2 test"])

results.loc["Without NA"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

             r2 mean    r2 std   r2 test
Without NA  0.548538  0.568624  0.373218

In [398]:
missing_percent = df_drop_cols.isnull().mean()

In [399]:
missing_percent[missing_percent > 0.1]

Series([], dtype: float64)

In [400]:
# When we examine the explanations, we see that the empty values
# actually indicate that there is no such feature.
df_drop_cols.MasVnrArea = df_drop_cols.MasVnrArea.fillna(0)
df_drop_cols.BsmtQual = df_drop_cols.BsmtQual.fillna("None")
df_drop_cols.BsmtCond = df_drop_cols.BsmtCond.fillna("None")
df_drop_cols.BsmtExposure = df_drop_cols.BsmtExposure.fillna("None")
df_drop_cols.BsmtFinType1 = df_drop_cols.BsmtFinType1.fillna("None")
df_drop_cols.BsmtFinType2 = df_drop_cols.BsmtFinType2.fillna("None")
df_drop_cols.Electrical = df_drop_cols.Electrical.fillna("None")
df_drop_cols.GarageType = df_drop_cols.GarageType.fillna("None")
df_drop_cols.GarageYrBlt = df_drop_cols.GarageYrBlt.fillna(0)
df_drop_cols.GarageFinish = df_drop_cols.GarageFinish.fillna("None")
df_drop_cols.GarageQual = df_drop_cols.GarageQual.fillna("None")
df_drop_cols.GarageCond = df_drop_cols.GarageCond.fillna("None")

In [401]:
# Rebuild the model.

df_drop_cols_dummy = pd.get_dummies(df_drop_cols, drop_first = True)
print(df_drop_cols_dummy.shape)

X = df_drop_cols_dummy.drop("SalePrice", axis = 1)
y = df_drop_cols_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, 
                                                    random_state = 42)

scores = cross_val_score(mdl, X_train, y_train, cv = 10)
mdl = LinearRegression()

mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)
results.loc["Fill None"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

(1460, 252)

             r2 mean    r2 std   r2 test
Without NA  0.548538  0.568624  0.373218
Fill None   0.591975  0.416633  0.642582

In [402]:
# Continue the analysis by copying the data

df_new = df_drop_cols.copy()

In [403]:
cat_cols = [col for col in df_new.columns if df_new[col].dtype == "O"]
cat_cols

['MSSubClass',
 'MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [422]:
#There are ordinal data in the house.csv

def ordinal_category(col):

    """""""""""""""""
    This function detects ordinal data and assigns them values between 0 - 5.
    
    input -> string/ object
    output -> integer

    """""""""""""""""
    
    if col.isin(["Fa", "TA"," Gd", "Ex"]).any():
        return col.replace({"Fa":2, "TA" : 3, "Gd" : 4, "Ex" : 5, "Po" : 1, "None" : 0})
    else:
        return col
df_new[cat_cols] = df_new[cat_cols].apply(ordinal_category)

In [406]:
# Check data.

df_new.GarageCond.value_counts()

GarageCond
3    1326
0      81
2      35
4       9
1       7
5       2
Name: count, dtype: int64

In [426]:
# Check data.

df_new.GarageQual.value_counts()

GarageQual
3        1311
0          81
2          48
Other      20
Name: count, dtype: int64

In [408]:
# Reanalysis after ordinal data transformation.

from sklearn.model_selection import cross_val_score
df_new_dummy = pd.get_dummies(df_new, drop_first = True)
print(df_new_dummy.shape)

X = df_new_dummy.drop("SalePrice", axis = 1)
y = df_new_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state=42)


scores = cross_val_score(mdl, X_train, y_train, cv = 10)
mdl = LinearRegression()
mdl.fit(X_train , y_train)
ypred = mdl.predict(X_test)


results.loc["Ordinal Value Model"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

(1460, 228)

                      r2 mean    r2 std   r2 test
Without NA           0.548538  0.568624  0.373218
Fill None            0.591975  0.416633  0.642582
Ordinal Value Model  0.598759  0.384457  0.653746

In [409]:
df_new.MSSubClass.value_counts()

MSSubClass
20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: count, dtype: int64

In [410]:
category_percent = df_new.MSSubClass.value_counts() / len(df_new)
category_percent

MSSubClass
20     0.367123
60     0.204795
50     0.098630
120    0.059589
30     0.047260
160    0.043151
70     0.041096
80     0.039726
90     0.035616
190    0.020548
85     0.013699
75     0.010959
45     0.008219
180    0.006849
40     0.002740
Name: count, dtype: float64

In [425]:

def merge_category(col):
    
""""""""""""""""""""""

This function examines the object type filling and combines data less than 0.01.

input -> string/ object
output -> string /object


""""""""""""""""""""""
    
    category_percent = col.value_counts() / len(col)
    category = list(category_percent[category_percent < 0.01].index)
    if len(category) > 1:
        return col.replace(category, "Other")

    return col

df_new[cat_cols] = df_new[cat_cols].apply(merge_category)

In [418]:
# Analyze again after combining the data.

df_new_dummy = pd.get_dummies(df_new, drop_first = True)
print(df_new_dummy.shape)

X = df_new_dummy.drop("SalePrice", axis = 1)
y = df_new_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state=42)

scores = cross_val_score(mdl, X_train, y_train, cv = 10)

mdl = LinearRegression()

mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)

results.loc["other value model"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

(1460, 186)

                      r2 mean    r2 std   r2 test
Without NA           0.548538  0.568624  0.373218
Fill None            0.591975  0.416633  0.642582
Ordinal Value Model  0.598759  0.384457  0.653746
other value model    0.786433  0.147645  0.862914